.grid-container {
    display: grid;
    justify-content: center;
    grid: 200px 50px 100px / 400px 400px 400px;
    grid-row-gap: 2em;
    grid-column-gap: 2em;
    color: white;
    text-align: center;   
}
.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7,.grid8, .grid9 {
    padding-top: 1rem;
} 
.grid1 {
    background-color: #AE3531;
}
.grid2 {
    background-color: #32A7A4;
}
.grid3 {
    background-color: #30997A;
}
.grid4 {
    background-color: #6A478F;
}
.grid5 {
    background-color: #D96E2A;
}
.grid6 {
    background-color: #D96E2A;
}
.grid7 {
    background-color: #DE3F3E;
}
.grid8 {
    background-color: #59A527;
}
.grid9 {
    background-color: #4465A0;
}