.grid-container {
    display: grid;
    justify-content: center;
    grid: 10em 3em 4em / 20% 20% 20% 20%;
    grid-row-gap: 2em;
    grid-column-gap: 2em;
    color: white;
    text-align: center;   
}
.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7,.grid8, .grid9 {
    padding-top: 1rem;
} 
.grid1 {
    background-color: darkred;
}
.grid2 {
    background-color: cyan;
}
.grid3 {
    background-color: greenyellow;
}
.grid4 {
    background-color: purple;
}
.grid5 {
    background-color: orange;
}
.grid6 {
    background-color: turquoise;
    grid-column: 4 / 4;
}
.grid7 {
    background-color: red;
}
.grid8 {
    background-color: green;
    grid-column: 3 / 4;
}
.grid9 {
    background-color: darkblue;
}